@font-face {
  font-display: fallback;
  font-family: 'Museo Sans Light';
  src: url('../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot');
  src: local('../fonts/MuseoSansCyrl/MuseoSansCyrl-300'),
      url('../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot?#iefix') format('embedded-opentype'),
      url('../fonts/MuseoSansCyrl/MuseoSansCyrl-300.woff2') format('woff2'),
      url('../fonts/MuseoSansCyrl/MuseoSansCyrl-300.woff') format('woff');
  font-style: normal;
}

@font-face {
  font-display: fallback;
  font-family: 'Museo Sans Bold';
  src: url('../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot');
  src: local('../fonts/MuseoSansCyrl/MuseoSansCyrl-700'),
      url('../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot?#iefix') format('embedded-opentype'),
      url('../fonts/MuseoSansCyrl/MuseoSansCyrl-700.woff2') format('woff2'),
      url('../fonts/MuseoSansCyrl/MuseoSansCyrl-700.woff') format('woff');
  font-style: normal;
}

@mixin reg {
  font-family: 'Museo Sans Light', sans-serif;
  font-weight: 300;
}
@mixin bold {
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}