@font-face
  font-family: 'MuseoSans700'
  src: url(../fonts/MuseoSans700.ttf)
@font-face
  font-family: 'MuseoSans300'
  src: url(../fonts/MuseoSans300.ttf)
body 
  font-family: "MuseoSans700"
img
  max-width: 100%
.container
  width: 1170px
  margin: auto
@media (max-width: 1200px)
  .container
    width: 760px
@media (max-width: 768px)
  .container
    max-width: 580px
    width: 90%
.button
  padding: 19px 29px 17px
  margin-top: -6px
  font-size: 13px
  font-weight: bold
  border-radius: 10px
  background-color: $main-color
  border: none