@font-face {
  font-family: 'Museo Sans Light';
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot");
  src: local("../fonts/MuseoSansCyrl/MuseoSansCyrl-300"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.woff2") format("woff2"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.ttf") format("truetype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.svg#MuseoSansCyrl-300") format("svg");
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Bold';
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot");
  src: local("../fonts/MuseoSansCyrl/MuseoSansCyrl-700"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.woff2") format("woff2"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.ttf") format("truetype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.svg#MuseoSansCyrl-700") format("svg");
  font-style: normal;
}

* {
  outline: none;
}

body {
  font-family: 'Museo Sans Light', sans-serif;
  font-weight: 300;
}

img {
  max-width: 100%;
}

.container {
  width: 1170px;
  margin: auto;
}

@media (max-width: 1200px) {
  .container {
    width: 760px;
  }
}

@media (max-width: 768px) {
  .container {
    margin-left: 20px;
    max-width: 580px;
    width: 90%;
  }
}

.button {
  padding: 19px 30px 17px;
  margin-top: -6px;
  font-size: 13px;
  font-weight: bold;
  border-radius: 10px;
  background-color: #ffd200;
  border: none;
  cursor: pointer;
}

.navbar {
  padding: 8px 0;
}

.navbar-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__logo img {
  width: 155px;
}

.navbar__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: right;
}

.navbar__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -2px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 13px;
  font-weight: bold;
}

.navbar__button {
  margin-left: 30px;
}

.navbar__phone {
  display: inline-block;
  margin-top: 6px;
  color: #333333;
  font-size: 20px;
  text-decoration: none;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

@media (max-width: 768px) {
  .navbar {
    padding: 15px 0;
  }
  .navbar__contacts {
    display: none;
  }
  .navbar__button {
    margin-top: -1px;
    margin-right: 12px;
    font-size: 10px;
    padding: 14px 26px 13px;
    border-radius: 5px;
  }
  .navbar__logo img {
    width: 90px;
  }
}

.hero {
  padding: 50px 0;
  color: #333333;
}

.hero-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero-text {
  padding-right: 20px;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.hero-text__title {
  margin-bottom: 35px;
  font-size: 41px;
  line-height: 55px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.hero-text__subtitle {
  display: inline-block;
  margin-bottom: 67px;
  margin-left: 2px;
  font-size: 20px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.hero-list {
  margin: 0;
  padding: 0;
}

.hero-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}

.hero-list__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  border: 2px solid #ffd200;
  border-radius: 50%;
  margin-right: 28px;
}

.hero-list__text {
  max-width: 300px;
  font-size: 14px;
  line-height: 23px;
  font-weight: bold;
}

.hero-image {
  margin-top: -3px;
}

.hero-image__shadow {
  -webkit-box-shadow: 7px 5px 10px rgba(0, 0, 0, 0.05), 16px 22px 35px rgba(0, 0, 0, 0.05);
          box-shadow: 7px 5px 10px rgba(0, 0, 0, 0.05), 16px 22px 35px rgba(0, 0, 0, 0.05);
}

@media (max-width: 1200px) {
  .hero-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero-list {
    margin-bottom: 44px;
  }
  .hero-text {
    padding-right: 10px;
  }
}

@media (max-width: 768px) {
  .hero {
    padding: 23px 0;
    margin-left: 3px;
  }
  .hero-text__title {
    margin-bottom: 7px;
    font-size: 24px;
    line-height: 1.3;
  }
  .hero-text__subtitle {
    margin-bottom: 26px;
    font-size: 16px;
  }
  .hero-image {
    width: 95%;
  }
  .hero-list__item {
    margin-bottom: 16px;
  }
  .hero-list__text {
    margin-top: 5px;
    max-width: 220px;
    font-size: 12px;
    line-height: 1;
  }
  .hero-list__image {
    margin-left: -2px;
    margin-right: 12px;
  }
}
/*# sourceMappingURL=style.css.map */